* {
    margin: 0;
    padding: 0;
}

.main {
    padding: 30px;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.section {
    width: 100%;
    margin-bottom: 30px;
    font-size: 12px;
    color: #999999;
    line-height: 30px;
}

.title {
    font-size: 19px;
    font-weight: bold;
    color: #333333;
}

.firstText{
    font-size: 18px;
    color: black;
}

.pageIndex {
    text-align: center;
    color: #999999;
    font-size: 12px;
    margin-bottom: 30px;
}
