* {
    margin: 0;
    padding: 0;
}

.main {
    padding: 30px;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.section {
    width: 100%;
    margin-bottom: 30px;
    font-size: 12px;
    color: #999999;
    line-height: 30px;
}

.pageIndex {
    font-size: 12px;
}
